body {
  font-family: Courier;
  border: 5px solid #27775f;
  margin: 30px;
  line-height: 1.25;
  padding-bottom: 40px;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  text-indent: 5%
}

table {
  border-collapse: collapse;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

th {
  border: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

td {
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

h3 {
  margin-left: 40px;
  color:#27775f;
  font-style: oblique ;
}

ol
    {
       display: inline-block;
    }

hr {
  border-color: #27775f;
}

img {
  border-radius: 25px;
  border-width: medium;
  border: 6px solid #27775f;
  height: 180;
  width: 320;
}

a:hover {
  color: #27775f;
}

fun {
  font-family: cursive;
  font-style: oblique;
}

important {
  font-family: cursive;
  font-weight: bolder;
}

inspir {
  text-decoration: underline;
}

.title {
  text-decoration: underline;
}

.highlight {
  text-transform: capitalize;
}

.list {
  list-style-position: inside;
}
