body {
  font-family: Courier;
  border: 5px solid #27775f;
  margin: 30px;
  line-height: 1.25;
  padding-bottom: 40px;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  text-indent: 5%
}

table {
  border-collapse: collapse;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

th {
  border: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

td {
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

img[src ="https://i.ytimg.com/vi/8pU7d_XzQa4/maxresdefault.jpg"] {
  padding-top: 20px;
}
